[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yuterzbell
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yuterzbell
	label-Verified = -1..+1 group user/yuterzbell
	push = group user/yuterzbell
	read = group user/yuterzbell
	rebase = group user/yuterzbell
	removeReviewer = group user/yuterzbell
	submit = group user/yuterzbell
[access "refs/heads/*"]
	create = group user/yuterzbell
	push = +force group user/yuterzbell
	pushMerge = group user/yuterzbell
	read = group user/yuterzbell
[access "refs/tags/*"]
	push = group user/yuterzbell
	push = +force group user/yuterzbell
